@use '../../index' as *;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $form-main;
  border: 1px solid $border-main;
  border-radius: 10px;
  width: 300px;
  padding: 15px;

  &-header {
    position: relative;
    display: flex;

    &__input {
      padding: 10px;
      border: 1px solid $border-main;
      border-radius: 10px;
      width: 100%;
    }

    &__button {
      display: flex;
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 19px;
      height: 19px;
      padding: 2px;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    background-color: $background-light;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid $border-main;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  &-item {
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;

    &__image {
      width: 30px;
      height: 20px;
      border-radius: 5px;
      margin-right: 10px;
    }

    &:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }

  &-button {
    background-color: $button-main;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    color: $text-light;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
