@use '../../index' as *;

.offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 700px;
  padding: 25px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;

  @media (max-width: 570px) {
    grid-template-columns: 1fr;
  }
}
