@use '../../index' as *;

.offer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: $background-light;
  min-width: 250px;
  box-sizing: border-box;

  &-image {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
  }
  &-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $text-dark;
  }
  &-address {
    color: $text-grey;
    margin-bottom: 10px;
  }
  &-start {
    color: $text-grey;
    margin-bottom: 2px;
  }
  &-date {
    color: $text-grey;
  }
  &-amout {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $text-dark;
  }
  &-link {
    color: $link-main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
