@use '../../index' as *;

.offer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  background-color: $background-light;
  min-width: 250px;
  box-sizing: border-box;

  &-image {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
  }
  &-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $text-dark;
  }
  &-address {
    color: $text-grey;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
  &-start {
    color: $text-grey;
    margin-bottom: 2px;
  }
  &-date {
    color: $text-grey;

    &__wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &-amout {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $text-dark;
  }
  &-link {
    color: $link-main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  &-description {
    &__title {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 10px;
      color: $text-dark;
    }
    &__text {
      color: $text-grey-light;
      margin-bottom: 10px;
    }
  }

  &-service {
    display: flex;
    align-items: center;
    gap: 5px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 20px;
      border-bottom: 1px solid $border-main;
    }

    &__text {
      color: $text-grey;
    }
  }
}
