.search-results {
  display: flex;
  margin-top: 10px;
  flex-direction: column;

  &__spinner {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
